<!DOCTYPE html>
<html ng-app="plunker">

<head>
<meta charset="utf-8">
<title>Leaflet</title>
<script>
  document.write('<base href="' + document.location + '" />');
</script>
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css">
<link rel="stylesheet"  href="style.css" />

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>
 
<body >
  <div class="container">
    
    <div class="navbar">
      <ul class="nav navbar-nav" ng-controller="NavCtrl">      
        <li ng-class="navClass('home')"><a href='#/home'>Home</a></li>
        <li ng-class="navClass('about')"><a href='#/about'>About Us</a></li>
        <li ng-class="navClass('contact')"><a href='#/contact'>Contact Us</a></li>
      </ul>
    </div>
  </div>

  <div ng-view> </div>

</body>
<script src="script.js"></script>
</html>
